.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__wrapper {
  padding: 33px 22px 40px 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    flex-shrink: 0;
  }
}

.advantages__item-wrapper .advantages__wrapper {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item--full {
  width: 100%;
}

.advantages__title {
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  margin: 0;
  padding-bottom: 17px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.advantages__image {
  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__item:nth-child(2n) .advantages__image {
  order: -1;
}

.advantages__other-wrapper {
  padding-top: 31px;
  padding-bottom: 22px;
  padding-left: 47px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.advantages__other {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item--round {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
