.advantages__wrapper {
  padding: 33px 22px 40px 16px;
  background-color: #eeeeee;
}

.advantages__item-wrapper .advantages__wrapper {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 11px;
}

.advantages__number {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 17px;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__image {
  display: block;
  width: 520px;
  height: 260px;
}

.advantages__other-wrapper {
  padding-left: 47px;
  padding-bottom: 22px;
}
