.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__wrapper {
  padding: 39px 22px 40px 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 57px 53px;
  }
}

.advantages__item-wrapper .advantages__wrapper {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item--full {
  width: 100%;
  grid-column: 1/-1;
}

.advantages__item--full:nth-child(2) .advantages__item-wrapper {
  grid-template-columns: 2fr 1fr;
}

.advantages__item--full:first-child .advantages__wrapper {
  background-image: url("../img/white-copy.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, cover;
  padding-top: 70px;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.advantages__item {
  position: relative;
}

.advantages__item:not(.advantage__item--full)::after {
  content: "";
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 0;
  height: 1px;
  background-color: #d6d6d6;
}

.advantages__title {
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
  }
}

.advantages__number {
  margin: 0;
  padding-bottom: 17px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.advantages__image {
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__image img {
  width: 100%;
  height: 100%;
}

.advantages__item:nth-child(2n) .advantages__image {
  order: -1;
}

.advantages__other-wrapper {
  padding-top: 31px;
  padding-bottom: 22px;
  padding-left: 65px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.advantages__other-wrapper--motel {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: left 18px top 45px;

  @media (min-width: $tablet-width) {
    background-size: 75px 72px;
    background-position: center;
    background-position-y: 60px;
    padding-left: 36px;
    padding-right: 35px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
    padding-right: 58px;
  }
}

.advantages__other-wrapper--food {
  background-image: url("../img/icon-burger.svg");
  background-size: 40px 35px;
  background-repeat: no-repeat;
  background-position: left 18px top 45px;

  @media (min-width: $tablet-width) {
    background-size: 76px 78px;
    background-position: center;
    background-position-y: 60px;
    padding-left: 36px;
    padding-right: 35px;
    text-align: center;
  }
}

.advantages__other-wrapper--souvenir {
  background-image: url("../img/icon-gift.svg");
  background-size: 32px 38px;
  background-repeat: no-repeat;
  background-position: left 18px top 45px;

  @media (min-width: $tablet-width) {
    background-size: 64px 75px;
    background-position: center;
    background-position-y: 60px;
    padding-left: 36px;
    padding-right: 35px;
    text-align: center;
  }
}

.advantages__other {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item--round {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__item:last-child::after {
  display: none;
}
