.footer {
  padding-top: 34px;
  padding-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 120px;
  }
}

.footer--form {
  padding-top: 50px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.footer--catalog {
  padding-top: 8px;
}

.footer__hashtag {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__hashtag:hover,
.footer__hashtag:focus {
  outline: none;
  color: rgba(129, 179, 210, 1);
}

.footer__hashtag:active {
  color: rgba(179, 179, 179, 1);
}

.footer__list {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: -9px;
  }
}

.footer__item:not(:last-child) {
  margin-right: 6px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.footer__link svg {
  fill: #ffffff;
}

.footer__link:active svg {
  fill: #ffffff 30%;
}

.footer__link:hover,
.footer__link:focus {
  background-color: #669ec0;
  outline: none;
}

.footer__link:active {
  background-color: #5496bd;
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.footer__copyright-text {
  margin-right: 12px;
}

.footer__copyright svg {
  fill: #000000;
}

.footer__copyright:hover,
.footer__copyright:focus {
  color: #81b3d2;
  outline: none;
}

.footer__copyright:hover svg {
  fill: #81b3d2;
}

.footer__copyright:active {
  color: #b3b3b3;
}

.footer__copyright:active svg {
  fill: #b3b3b3;
}

.footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 35px;
}
