.footer {
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 140px;
    padding-right: 120px;
  }
}

.footer__hashtag {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__item:not(:last-child) {
  margin-right: 6px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.footer__link:hover {
  background-color: #669ec0;
}

.footer__link:active {
  background-color: #5496bd;
}

.footer__link img:active {
  background-color: rgba(255, 255, 255, 0.3);
  ;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding-right: 7px;
}

.footer__copyright:hover {
  fill: #81b3d2;
}

.footer__copyright:hover span {
  fill: #81b3d2;
}

.footer__copyright:active {
  fill: #b3b3b3;
}

.footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 35px;
}
