.form {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 48px;
}

.form__wrapper-fieldset {
  outline: none;
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 88px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  padding: 24px 20px 39px 20px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__fieldset--data::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.form__fieldset-title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__fieldset-title--lines {
  overflow: hidden;
}

.form__fieldset-title--lines span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    position: relative;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  margin-left: -100%;
}

.form__fieldset-title--lines::after {
  margin-right: -100%;
}

.form__contact-item {
  display: flex;
  flex-direction: column;
}

.form__contact-item:not(:last-child) {
  margin-bottom: 16px;
}

.form__contact-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: 16px;
}

.form__contact-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  flex-grow: 1;
  font-family: "PT Sans", "Arial", sans-serif;
}

.form__options {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form__options--attraction {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__options-item:not(:last-child) {
  margin-bottom: 36px;
}

.form__options-label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
  padding-left: 62px;
  min-height: 46px;
  padding-top: 10px;
}

.form__control-mark {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 70px;
  }
}

.form__submit {
  width: 281px;
  margin-bottom: 3px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 0;
  }
}

.form__note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: end;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.form__contact-input--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 60px;
}

.form__contact-input--mail {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.form__options-input:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.form__check-mark {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    left: 70px;
  }

  @media (min-width: $desktop-width) {
    left: 50px;
  }
}

.form__options-input:checked + .form__check-mark::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}

.form__fieldset--recall {
  padding-left: 20px;
  padding-right: 20px;
}

.form__fieldset--recall textarea {
  border: none;
  background-color: #f2f2f2;
  min-height: 150px;
  resize: none;
  min-width: 279px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
  }
}

.form__fieldset--submit {
  width: 281px;
  margin: auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 648px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__submit button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
