.form {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__fieldset-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;
}

.form__contact-item:not(:last-child) {
  margin-bottom: 16px;
}

.form__contact-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.form__contact-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-item:not(:last-child) {
  margin-bottom: 16px;
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__submit {
  width: 281px;
  height: 58px;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.form__note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
