.search {
  margin: 0;
  padding: 39px 18px 49px 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 31px;
}

.search__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 32px;
}

.search__button {
  background-color: #81B3D2;
  color: #FFFFFF;
  text-decoration: none;
  padding: 16px 49px;
  width: 284px;
  font-weight: 700;
}
