.sights {
  margin: 0;
}

.sights__item {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sights__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.sights__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #333333;
}

.sights__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
