.sights {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.sights__list {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sights__item {
  padding: 25px 20px 22px;

  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 0;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.sights__item:first-child {
  border-top: 1px solid #e5e5e5;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.sights__image {
  background-color: #333333;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.sights__wrapper {
  padding-top: 15px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 5px;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.sights__item:nth-child(3n) .sights__wrapper {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.sights__description {
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.sights__item:first-child .sights__image {
  height: 280px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.sights__image--first img {
  @media (min-width: $tablet-width) {
    width: 648px;
  }
}

.sights__image img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.sights__title {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.sights__author {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.sights__title,
.sights__author {
  @media (min-width: $desktop-width) {
    padding-top: 1px;

    color: #ffffff;
  }
}

.sights__like {
  display: grid;
  align-items: baseline;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;

  background-color: transparent;
  border: none;
  cursor: pointer;

  gap: 14px;
  grid-template-columns: auto auto;

  @media (min-width: $tablet-width) {
    margin-top: 6px;

    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.sights__like svg {
  order: -1;

  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}
