.sights__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sights__item {
  padding: 24px 20px;
}

.sights__image img {
  display: block;
}

.sights__image--first img {
  @media (min-width: 768px){
    width: 648px;
     /*надо поменять картинки*/
  }

  @media (min-width: 1200px) {
    width: 1200px;
    /*надо поменять картинки*/
  }
}

.sights__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.sights__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.sights__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
