.welcome {
  text-align: center;
}

.welcome__title {
  padding-top: 90px;
  padding-bottom: 85px;

  background-color: #333333;
  background-image: url("../img/intro-triangle.svg"),
    url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"),
      url("../img/back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 91px;

    background-image: url("../img/intro-triangle-tablet.svg"),
      url("../img/back-index-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle-tablet.svg"),
        url("../img/back-index-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg"),
      url("../img/back-index-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle-desktop.svg"),
        url("../img/back-index-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }
  }
}

.welcome--page .welcome__title {
  padding-top: 50px;
  padding-bottom: 68px;

  @media (min-width: $tablet-width) {
    padding-top: 93px;
    padding-bottom: 116px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 121px;
  }
}

.welcome__title img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.welcome--page img {
  display: block;
  width: 230px;
  height: 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 80px;
  }
}

.welcome__description {
  padding: 34px 25px 2px;

  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 535px;
    margin: auto;
    padding-top: 47px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    max-width: 580px;
    padding-top: 58px;
    padding-bottom: 30px;
  }
}

.welcome--page .welcome__description {
  padding: 34px 20px 14px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: 530px;
    padding-top: 113px;
    padding-right: 28px;
    padding-left: 26px;
  }
}

.welcome--form .welcome__description {
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
  }
}

.welcome--page .welcome__description--catalog {
  padding: 33px 20px 41px;

  @media (min-width: $tablet-width) {
    padding: 61px 50px 87px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-bottom: 76px;
  }
}

.welcome__slogan {
  margin: 0;
  padding-bottom: 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;

    font-size: 21px;
  }
}

.welcome--page .welcome__slogan {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;

    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;
  }
}

.welcome--form .welcome__slogan {
  padding-bottom: 8px;

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.welcome__description--catalog .welcome__slogan {
  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }
}

.welcome__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.welcome__description--catalog .welcome__intro {
  margin: 0;
  padding: 0;
}

.welcome__intro br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
